body{
    background-color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h1,h3 {
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left:160px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li{
    float: left;
    margin-left:0;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.search{
    position: absolute;
    left:10px;
    top:90px;
}

.category{
    align-items: center;
    text-align:center;
    outline-color:black;
    padding-right:50px;
    padding-left:70px;
    padding-top:0px;
    font-size:120%;
    width:auto;
}

.category_sub{
    border: 1px solid black;
    padding-left:120px;
    padding-right:20px;
}

.sidebar{
  height: auto;
  width: 160px;
  z-index: 1;
  margin-top: -46px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}
.sidebar p{
  color: white;
  font-size:12px;
}